<div class="tune-widget">
    <div id='user-create' class="col-lg-12">
        <?= $this->form(null,\TwbBundle\Form\View\Helper\TwbBundleForm::LAYOUT_HORIZONTAL)->openTag($form);?>
        <?= $this->formCollection($form)?>
    </div>
    <div class="overlay box-loading hide">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>

<script>
    $('#user-create form').on('submit', function(){
        $('#user-create').parent().find('.box-loading').removeClass('hide');
    });
</script>