<div class="tune-widget">
    <div id='users-list'></div>
    <div class="overlay box-loading hide">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>

<script>
    $('#users-list').zfTable("<?= $this->url('admin/user/xhr-user-table')?>", {
        beforeSend: function(){ $('#users-list').parent().find('.box-loading').removeClass('hide'); },
        success: function(){ $('#users-list').parent().find('.box-loading').addClass('hide'); }
    });
</script>