<section class="content-header">
    <h1>
        Admin <small>admin</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="">
                <i class="fa fa-dashboard"></i> Home
            </a>
        </li>
        <?php if(false): ?>
            <li>
                <a href="<?= $this->url(array('controller' => lcfirst($this->controllerName), 'action' => 'list'))?>">
                    <?= $this->controllerName?>
                </a>
            </li>
            <li class="active"><?= $this->actionName ?></li>
        <?php else: ?>
            <li class="active">Dashboard</li>
        <?php endif ?>
        
    </ol>
</section>
<p>&nbsp;</p>
<?php //echo $this->render('partials/messanger.phtml') ?>
