<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">
            Gallery
    </div>
    <div class="box-body">

        <form class="cb lf" action="<?= $this->galleryOptions['saveUrl'] ?>" method="post" enctype="multipart/form-data">
            <input type="hidden" name="redirectUrl" value="<?= $this->galleryOptions['url'] ?>" />
            <input type="file" name="images[]" accept="jpg|png|gif" multiple=""/>
            <br />
            <div class="button_form m2">
                <button type="submit" name="saveImg" class="btn btn-success">
                    <i class="icon-save"></i>
                    Dodaj
                </button>
            </div>
        </form>
        <p>&nbsp;</p>
        
        <?php if (!empty($this->galleryOptions['files'])): ?>
            <div id="jQ_drag" class="gallery">
                <?php /* @var $file files */ ?>
                <?php foreach($this->galleryOptions['files'] as $file): ?>

                    <div id="rowPos_<?= $file->getId() ?>" data-id="<?= $file->getId()?>" data-type="<?= $file->getEntityType()?>" class="gallery-item">
                        <?= $this->resize('80', '80', $file) ?>                        
                        <a title="Usuń" class="del-img btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>        

                <?php endforeach ?>
            </div>
        <?php else: ?>
            <div class="alert alert-info alert-link size-medium">
                <?= $this->translate('There is no image') ?>
            </div>
        <?php endif; ?>
    </div>
</div>