<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('ZF2 '. $this->translate('Skeleton Application'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath('dashboard/css/dashboard.css'))
                        ->prependStylesheet($this->basePath('dashboard/css/skins/skin-green.min.css'))
                        ->prependStylesheet($this->basePath('dashboard/css/AdminLTE.min.css'))
                        ->prependStylesheet('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
                        ->prependStylesheet('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
                        ->prependStylesheet($this->basePath('css/bootstrap.min.css')) ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath('js/jquery.min.js'))
            ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath('js/html5shiv.min.js'),   'text/javascript', array('conditional' => 'lt IE 9',))
            ->appendFile($this->basePath() . '/js/jquery.dataTables.min.js')
            ->appendFile($this->basePath() . '/js/zf-table.js');
        ?>

    </head>
    <body class="hold-transition skin-green sidebar-mini">
        <div class="wrapper">
            <div id="customContainer"></div>
            <?= $this->render('partials/header.phtml') ?>
            <?= $this->render('partials/sidebar.phtml') ?>

            <div class="content-wrapper">
                <?= $this->render('partials/breadcrumbs.phtml') ?>
                <div class="content">
                    <?= $content?>
                </div>
            </div>

            <?= $this->render('partials/footer.phtml') ?>
            <?= $this->render('partials/right-sidebar.phtml') ?>


        </div><!-- ./wrapper -->

        <!-- jQuery 2.1.4 -->
        <script src="/dashboard/plugins/jQuery/jQuery-2.1.4.min.js"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
            $.widget.bridge('uibutton', $.ui.button);
        </script>
        <!-- Bootstrap 3.3.5 -->
        <script src="/dashboard/plugins/bootstrap/js/bootstrap.min.js"></script>
        <!-- Morris.js charts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="/dashboard/plugins/morris/morris.min.js"></script>
        <!-- Sparkline -->
        <script src="/dashboard/plugins/sparkline/jquery.sparkline.min.js"></script>
        <!-- jvectormap -->
        <script src="/dashboard/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="/dashboard/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <!-- jQuery Knob Chart -->
        <script src="/dashboard/plugins/knob/jquery.knob.js"></script>
        <!-- daterangepicker -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
        <script src="/dashboard/plugins/daterangepicker/daterangepicker.js"></script>
        <!-- datepicker -->
        <script src="/dashboard/plugins/datepicker/bootstrap-datepicker.js"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="/dashboard/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
        <!-- Slimscroll -->
        <script src="/dashboard/plugins/slimScroll/jquery.slimscroll.min.js"></script>
        <!-- FastClick -->
        <script src="/dashboard/plugins/fastclick/fastclick.min.js"></script>
        <script src="/dashboard/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
        <script src="/dashboard/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/dashboard/plugins/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
        <!-- AdminLTE App -->
        <script src="/dashboard/js/app.min.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="/dashboard/js/pages/dashboard.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="/dashboard/js/demo.js"></script>
        <script src="/dashboard/js/administrator.js"></script>
        <?php echo $this->inlineScript() ?>
    </body>
</html>
